/data
/__pycache__
/logs
/models/__pycache__
/models/io/__pycache__
/models/arch/base/__pycache__
/venv
models/arch/__pycache__/DSENet.cpython-310.pyc
models/utils/__pycache__/__init__.cpython-310.pyc
models/utils/__pycache__/base_cli.cpython-310.pyc
models/utils/__pycache__/ensemble.cpython-310.pyc
models/utils/__pycache__/flops.cpython-310.pyc
models/utils/__pycache__/general_steps.cpython-310.pyc
models/utils/__pycache__/git_tools.cpython-310.pyc
models/utils/__pycache__/metrics.cpython-310.pyc
models/utils/__pycache__/my_earlystopping.cpython-310.pyc
models/utils/__pycache__/my_json_encoder.cpython-310.pyc
models/utils/__pycache__/my_logger.cpython-310.pyc
models/utils/__pycache__/my_progress_bar.cpython-310.pyc
models/utils/__pycache__/my_rich_progress_bar.cpython-310.pyc
models/utils/__pycache__/my_save_config_callback.cpython-310.pyc
code summary.docx
/eval/enhanced_val
/eval/enhanced_wer
mic_fileid_1_doa32_6spk.wav
mic_fileid_14_doa135_6spk.wav
inference_output_new.wav
inference_output_50.wav
clean_fileid_0_doa48_spk4.wav
clean_fileid_1_doa32_spk2.wav
epoch14_loss1.9902_neg_si_sdr0.8474.ckpt
epoch29_loss1.5118_neg_si_sdr0.1418.ckpt
epoch50_loss1.2376_neg_si_sdr-0.2642.ckpt
